body {
  background: linear-gradient(
    49deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(35, 35, 138, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}

.App {
  text-align: center;
}

.App-list-header {
  list-style: none;
  text-align: left;
  color: lightblue;
  text-decoration: underline;
  margin-top: 10px;
}
.App-list {
  list-style: none;
  text-align: left;
  font-size: 22px;
}

.App-footer a {
  font-size: 16px;
  color: lightblue;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.WeatherMain {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.dateFormat {
  font-size: 13px;
}
