:root {
  --prime-color: rgba(35, 35, 138, 1);
  --second-color: rgb(22, 164, 247);
  --third-color: white;
}

.WeatherForecast {
  border: 0px solid var(--second-color);
  border-radius: 20px;
  color: var(--third-color);
  /* background: var(--second-color);*/
  opacity: 0.8;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

.tempMin {
  opacity: 0.6;
  text-align: justify;
  padding: 0px;
  margin: 0px;
}
