:root {
  --prime-color: rgba(35, 35, 138, 1);
  --second-color: rgb(22, 164, 247);
  --third-color: white;
}

.WeatherForecast {
  border: 0px solid;
  border-radius: 20px;
  color: var(--third-color);
  /* background: var(--second-color);*/
  opacity: 0.8;
  margin-bottom: 15px;
}

.WeatherForecast-temperature {
  margin-bottom: 5px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
